:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --third-color: #2196f3;
  --fourth-color: #757575;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  height: 100wh;
}
.menu--backdrop {
  margin: 0 auto;
}
.menu__modal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 480px;
  background-color: #ffffff;
}
.menu__close-button {
  margin-top: 10px;
  margin-left: 425px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.menu__close-button:hover, .menu__close-button:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.menu__pages {
  padding-top: 48px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--third-color);
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 40px;
  margin-top: 302px;
  margin-bottom: 64px;
}
.menu__tel {
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}
.menu__tel:hover, .menu__tel:focus {
  color: var(--third-color);
}
.menu__email {
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.menu__email:hover, .menu__email:focus {
  color: var(--third-color);
}
.menu__socials {
  display: flex;
  gap: 10px;
  margin-left: 40px;
  margin-bottom: 48px;
}
.menu__social-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--third-color);
  padding-right: 10px;
}
.menu__social-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}
.section {
  padding-top: 0px;
  padding-bottom: 0px;
}
.section--border-bottom {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
  }
}
.container {
  margin: 0px auto;
}

.container--header {
  display: flex;
  align-items: center;
  height: 80px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }

  .container--header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }

  .container--header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .container--header {
    width: 1200px;
  }
}
.address-footer {
  font-style: normal;
  margin-left: 20px;
}
.address-footer__address {
  margin: 0;
  padding: 0;
  width: 247px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.address-footer__position {
  margin: 0;
  padding: 0;
}
.address-footer__contact-to {
  width: 231px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-footer__contact-to:hover, .address-footer__contact-to:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-footer {
    font-style: normal;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-footer {
    font-style: normal;
    text-align: center;
    margin-left: 76px;
    margin-top: -240px;
  }
}
@media screen and (min-width: 1200px) {
  .address-footer {
    font-style: normal;
  }
}
.address-header {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-items: center;
  fill: var(--fourth-color);
}
.address-header__email {
  width: 161px;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
}
.address-header__tel {
  width: 160px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
  fill: var(--fourth-color);
}
.address-header__svg {
  size: 20px;
  width: 20px;
  height: 20px;
}
.address-header__envelope, .address-header__smartphone {
  width: 30px;
  height: 20px;
  padding-right: 10px;
}
.address-header__email:hover, .address-header__email:focus, .address-header__tel:hover, .address-header__tel:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-header {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-header {
    display: block;
  }
  .address-header__email {
    width: 161px;
    display: block;
  }
  .address-header__tel {
    width: 160px;
    margin-left: 0px;
  }
  .address-header__tel {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .address-header__email {
    width: 161px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .address-header__tel {
    width: 160px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
}
.button {
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: #f5f4fa;
}
.button:hover, .button:focus {
  background: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
  padding-top: 94px;
  padding-bottom: 0px;
}
.buttons__container {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  box-shadow: 0px;
}
.buttons__wszystkie {
  width: 121px;
}
.buttons__strony {
  width: 93px;
}
.buttons__aplikacje {
  width: 114px;
}
.buttons__dizajn {
  width: 91px;
}
.buttons__marketing {
  width: 121px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .buttons {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .buttons__container {
    width: 392px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.clients__pictures {
  display: flex;
  justify-content: space-between;
}
.clients__background {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}
.clients__background:hover, .clients__background:focus {
  border: 1px solid var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
  outline-width: 1px;
}
.clients__icon {
  width: 170px;
  height: 92px;
  padding: 17px 32px;
  fill: #afb1b8;
}
.clients__icon:hover, .clients__icon:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__background {
    width: 210px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .clients__pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__background {
    width: 226px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .clients__pictures {
    display: flex;
    justify-content: space-between;
  }
}
.corps {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  color: var(--family-color);
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .corps {
    width: 490px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .corps {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .corps {
    width: 1200px;
  }
}
.foot {
  top: 1628px;
  background: #2f303a;
}
.foot__position {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .foot {
    top: 450px;
    background: #2f303a;
  }
  .foot__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foot {
    top: 768px;
    background: #2f303a;
  }
  .foot__position {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .foot {
    top: 1628px;
    background: #2f303a;
  }
  .foot__position {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
  }
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-color);
  -webkit-animation: animateModal 1000ms 1000ms;
          animation: animateModal 1000ms 1000ms;
  border-radius: 4px;
}
@-webkit-keyframes animateModal {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes animateModal {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.form__display {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
}
.form__title {
  width: 448px;
  height: 23px;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
}
.form__label {
  text-align: left;
  margin-top: 10px;
  padding-bottom: 4px;
  color: var(--fourth-color);
  font-size: 12px;
  font-style: normal;
}
.form__position {
  position: relative;
  width: 448px;
  height: 40px;
}
.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-top: 11px;
  fill: var(--main-color);
}
.form__svg {
  size: 20px;
  width: 20px;
  height: 20px;
}
.form--space {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline-color: var(--third-color);
  color: var(--fourth-color);
}
.form__comment {
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  text-align: left;
  vertical-align: text-top;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--fourth-color);
  font-size: 12px;
  font-style: normal;
  resize: none;
}
.form__checkbox {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  font-style: normal;
  color: var(--fourth-color);
}
.form__box {
  position: relative;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__box:checked {
  border: none;
  background-color: var(--third-color);
}
.form__check {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -19px;
  margin-top: 1px;
  border-radius: 4px;
  fill: none;
  visibility: hidden;
}
.form__box:checked + .form__check {
  fill: var(--secondary-color);
  visibility: visible;
}
.form__document {
  color: var(--third-color);
}
.form__document:hover, .form__document:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.form__button {
  margin-top: 30px;
  margin-left: 134px;
  width: 200px;
  height: 50px;
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-color);
}
.form__button:hover, .form__button:focus {
  background: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.form__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.form__close-button:hover, .form__close-button:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.form__position:focus-within .form__icon {
  fill: var(--third-color);
}
.form--space:hover, .form--space:focus, .form__comment:hover, .form__comment:focus, .form__box:hover, .form__box:focus {
  border: 1px solid var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
  outline-width: 1px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    transform: translate(-50%, -50%);
    width: 450px;
    margin: auto;
  }
  .form__display {
    width: 410px;
  }
  .form__title {
    width: 370px;
  }
  .form__position {
    width: 370px;
  }
  .form--space {
    width: 370px;
  }
  .form__comment {
    width: 370px;
  }
  .form__checkbox {
    width: 370px;
  }
  .form__button {
    margin-left: 85px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    margin: auto;
  }
}
.projects {
  padding-top: 34px;
}
.projects__row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}
.projects__list {
  position: relative;
  list-style-type: none;
  cursor: pointer;
}
.projects__list:hover, .projects__list:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(0);
}
.projects__img {
  width: 450px;
  height: 294px;
}
.projects__popup {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.projects__popup-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  bottom: 0;
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}
.projects__box {
  background: var(--secondary-color);
  border-top: 0px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}
.projects__title {
  margin: 0;
  padding: 0;
  width: 322px;
  padding-top: 20px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.projects__subtitle {
  margin: 0;
  padding: 0;
  width: 322px;
  margin-left: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}
.projects__list:hover .projects__popup-text {
  transform: translateY(-100%);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .projects {
    width: 480px;
  }
  .projects__list {
    width: 480px;
  }
  .projects__row {
    padding: 0px 15px;
    display: block;
  }
  .projects__img {
    width: 450px;
    height: 294px;
  }
  .projects__popup {
    position: relative;
    width: 450px;
    height: 294px;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    width: 768px;
  }
  .projects__row {
    padding: 0px 15px;
    justify-content: left;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
  }
  .projects__img {
    width: 354px;
    height: 294px;
  }
  .projects__popup {
    position: relative;
    width: 354px;
    height: 294px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    width: 120px;
  }
  .projects__row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
  }
  .projects__img {
    width: 370px;
    height: 294px;
  }
}
.slogan {
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  height: 37.5rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.slogan__title {
  margin: 0;
  padding: 0;
  width: 696px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 106px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.slogan__button {
  margin: 30px auto;
  display: block;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-color);
}
.slogan__button:hover, .slogan__button:focus {
  background: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .slogan {
    height: 480px;
  }
  .slogan__title {
    padding-top: 58px;
    width: 365px;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slogan {
    height: 400px;
  }
  .slogan__title {
    padding-top: 58px;
    width: 365px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    height: 600px;
  }
}
.tasks {
  padding-top: 94px;
  padding-bottom: 0px;
}
.tasks__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0px;
  margin-bottom: 94px;
}
.tasks__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tasks__background {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks__icon {
  width: 70px;
  height: 70px;
}
.tasks__svg {
  size: 20px;
  width: 20px;
  height: 20px;
}
.tasks__title {
  padding-top: 30px;
  text-align: left;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.tasks__column {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .tasks__list {
    width: 450px;
  }
  .tasks__display {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tasks__list {
    width: 354px;
  }
  .tasks__display {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .tasks__list {
    width: 270px;
  }
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.team__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.team--space {
  display: flex;
  justify-content: space-between;
}
.team__card {
  width: 270px;
  height: 428px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  width: 270px;
  left: 215px;
}
.team__name {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team__position {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}
.team__icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
}
.team__icon-background:hover, .team__icon-background:focus {
  background: var(--third-color);
  fill: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.team__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 32px;
  fill: var(--secondary-color);
}
.team__link-icon {
  width: 44px;
  height: 44px;
}
.team__svg {
  size: 20px;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team--space {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .team__card {
    width: 354px;
    height: 536px;
    background: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__img {
    width: 354px;
    left: 374px;
  }
  .team__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 32px;
    fill: var(--secondary-color);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    gap: 30px;
  }
  .team--space {
    display: flex;
    justify-content: space-between;
  }
}
.weblogo {
  font-family: var(--secondary-font);
  font-size: 26px;
  text-decoration: none;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--third-color);
  padding-left: 15px;
}
.weblogo--header {
  width: 145px;
}
.weblogo__black {
  color: var(--main-color);
}
.weblogo__white {
  color: var(--secondary-color);
}
.weblogo:hover, .weblogo:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.weblogo--footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .weblogo--header {
    width: 134px;
  }
  .weblogo--footer {
    width: 154px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .weblogo--header {
    width: 134px;
  }
  .weblogo--footer {
    width: 154px;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .weblogo--header {
    width: 145px;
  }
  .weblogo--footer {
    width: 145px;
  }
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__pages {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation__pages::after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: var(--third-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__pages:hover, .navigation__pages:focus {
  color: var(--third-color);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.navigation__pages:hover::after, .navigation__pages:focus::after {
  width: 100%;
  left: 0;
}
.navigation--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--third-color);
  border-radius: 4px;
  position: absolute;
  bottom: -32px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-left: 83px;
    margin-right: 101px;
    width: 282px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
    margin-right: 371px;
    width: 254px;
  }
}
.work {
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
.work__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.work__pictures {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.work__list {
  list-style-type: none;
}
.work__text {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  font-weight: 700px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .work {
    display: contents;
  }
}
.link {
  padding-top: 40px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
}
.link__add {
  width: 206px;
}
.link__title, .link__newsletter-title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.link__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
}
.link__icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
}
.link__icon-background:hover, .link__icon-background:focus {
  background: var(--third-color);
  fill: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--third-color);
}
.link__icon {
  width: 44px;
  height: 44px;
}
.link__svg, .link__signup-svg {
  size: 20px;
  width: 20px;
  height: 20px;
}
.link__newsletter {
  display: flex;
  padding-left: 78px;
}
.link__newsletter-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--fourth-color);
  color: var(--fourth-color);
  background-color: transparent;
  outline-style: none;
  color: var(--secondary-color);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__signup {
  padding-left: 12px;
  padding-top: 36px;
}
.link__signup-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-color);
}
.link__signup-text {
  margin: 0;
  padding: 0;
  margin-left: 28px;
}
.link__signup-send {
  width: 24px;
  height: 24px;
  margin-right: 28px;
  fill: var(--secondary-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .link {
    display: block;
    padding-top: 40px;
    padding-left: 0px;
  }
  .link__add {
    margin-left: 80px;
    width: 206px;
    display: flex;
    flex-direction: column;
  }
  .link__title {
    text-align: center;
  }
  .link__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-left: 78px;
    padding-top: 60px;
  }
  .link__newsletter-input {
    margin-left: -60px;
    padding: 0px;
    justify-content: center;
  }
  .link__signup-text {
    margin-left: 42px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link {
    padding-top: 40px;
    padding-left: 0px;
    display: block;
  }
  .link__add {
    margin-left: 144px;
  }
  .link__title {
    text-align: center;
    width: 206px;
    padding-top: 25px;
  }
  .link__newsletter-title {
    text-align: center;
  }
  .link__newsletter {
    width: 450px;
    display: block;
    padding-top: 102px;
    margin-left: -225px;
  }
  .link__newsletter-input {
    padding: 0px;
    justify-content: center;
  }
  .link__signup {
    padding-left: 0px;
    padding-top: 36px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .link {
    padding-top: 40px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
  }
}
.mobile {
  background-color: #ffffff;
  flex-direction: column;
  position: absolute;
  border: none;
}
.mobile__open {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: 300px;
}
.mobile__icon {
  width: 24px;
  height: 16px;
  fill: #212121;
}
.mobile__icon:focus, .mobile__icon:hover {
  fill: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile {
    display: contents;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */