.buttons {
  padding-top: 60px;
  padding-bottom: 0px;

  &__container {
    width: 392px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 14px;
    box-shadow: 0px;
    gap: 15px 8px;
  }

  &__wszystkie {
    width: 121px;
    border-width: 0px;
  }

  &__strony {
    width: 93px;
    border-width: 0px;
  }

  &__aplikacje {
    width: 114px;
    border-width: 0px;
  }

  &__dizajn {
    width: 91px;
    border-width: 0px;
  }

  &__marketing {
    width: 121px;
    border-width: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons {
    &__container {
      width: 645px;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    padding-top: 94px;
    &__container {
      width: 572px;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
}
