.buttons {
  padding-top: 94px;
  padding-bottom: 0px;

  &__container {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    box-shadow: 0px;
  }

  &__wszystkie {
    width: 121px;
  }

  &__strony {
    width: 93px;
  }

  &__aplikacje {
    width: 114px;
  }

  &__dizajn {
    width: 91px;
  }

  &__marketing {
    width: 121px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .buttons {
    padding-top: 60px;
    padding-bottom: 0px;
    &__container {
      width: 392px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
}
