.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__background {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid var(--third-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-color: var(--third-color);
      outline-width: 1px;
    }
  }

  &__icon {
    width: 170px;
    height: 92px;
    padding: 17px 32px;
    fill: #afb1b8;

    &:hover,
    &:focus {
      color: var(--third-color);
      fill: var(--third-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-color: var(--third-color);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    &__background {
      width: 226px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    &__pictures {
      flex-wrap: nowrap;
    }
    &__background {
      width: 170px;
    }
  }
}
