.corps {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  color: var(--family-color);
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .corps {
    width: 490px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .corps {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .corps {
    width: 1200px;
  }
}
