.menu {
  height: 100wh;

  &--backdrop {
    margin: 0 auto;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 480px;
    background-color: #ffffff;
  }

  &__close-button {
    margin-top: 10px;
    margin-left: 425px;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--third-color);
      fill: var(--third-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-color: var(--third-color);
    }
  }

  &__pages {
    padding-top: 48px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    &:hover,
    &:focus {
      color: var(--third-color);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 40px;
    margin-top: 302px;
    margin-bottom: 64px;
  }

  &__tel {
    text-decoration: none;
    color: var(--fourth-color);
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: var(--third-color);
    }
  }

  &__email {
    text-decoration: none;
    color: var(--fourth-color);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: var(--third-color);
    }
  }

  &__socials {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    margin-bottom: 48px;
  }

  &__social-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--third-color);
    padding-right: 10px;
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}
